### Importing Modules

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
loans = pd.read_csv('https://spark-public.s3.amazonaws.com/dataanalysis/loansData.csv')
loansData = loans

In [2]:
import statistics
# statistics can be used for IQR but scipy has it built in--why reinvent wheel?
from scipy import stats

## Cleaning

### Reformatting, typecasting

In [3]:
loansData.describe()

,Amount.Requested,Amount.Funded.By.Investors,Monthly.Income,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months
count,2500.000000,2500.000000,2499.000000,2498.000000,2498.000000,2498.000000
mean,12406.500000,12001.573236,5688.931321,10.075661,15244.559648,0.906325
std,7801.544872,7745.320754,3963.118185,4.508644,18308.549795,1.231036
min,1000.000000,-0.010000,588.500000,2.000000,0.000000,0.000000
25%,6000.000000,6000.000000,3500.000000,7.000000,5585.750000,0.000000
50%,10000.000000,10000.000000,5000.000000,9.000000,10962.000000,0.000000
75%,17000.000000,16000.000000,6800.000000,13.000000,18888.750000,1.000000
max,35000.000000,35000.000000,102750.000000,38.000000,270800.000000,9.000000

In [4]:
loansData.head()

,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
81174,20000,20000.0,8.90%,36 months,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14.0,14272.0,2.0,< 1 year
99592,19200,19200.0,12.12%,36 months,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12.0,11140.0,1.0,2 years
80059,35000,35000.0,21.98%,60 months,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14.0,21977.0,1.0,2 years
15825,10000,9975.0,9.99%,36 months,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10.0,9346.0,0.0,5 years
33182,12000,12000.0,11.71%,36 months,credit_card,18.78%,NJ,RENT,3195.00,695-699,11.0,14469.0,0.0,9 years

In [5]:
lengths = []
for loan in loansData['Loan.Length']:
    len_form = int(loan[:2])
    lengths.append(len_form)

In [6]:
loansData['Loan.Length'] = lengths

In [7]:
loansData.head()

,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
81174,20000,20000.0,8.90%,36,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14.0,14272.0,2.0,< 1 year
99592,19200,19200.0,12.12%,36,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12.0,11140.0,1.0,2 years
80059,35000,35000.0,21.98%,60,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14.0,21977.0,1.0,2 years
15825,10000,9975.0,9.99%,36,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10.0,9346.0,0.0,5 years
33182,12000,12000.0,11.71%,36,credit_card,18.78%,NJ,RENT,3195.00,695-699,11.0,14469.0,0.0,9 years

In [8]:
def perc_to_float(s):
    s = s[:-1]
    s = float(s)
    return s

cents = zip(loansData['Interest.Rate'], loansData['Debt.To.Income.Ratio'])
intrates = []
DIratio = []

for rate, ratio in cents:
    intrates.append(perc_to_float(rate))
    DIratio.append(perc_to_float(ratio))
    
newVals = list(zip(intrates, DIratio))
loansData['Interest.Rate'], loansData['Debt.To.Income.Ratio'] = zip(*newVals)

# unzipping only works on lists of tuples

In [9]:
fico = loansData['FICO.Range']
intscore = []
intranges = []
for cat in fico:
    cat = cat.split(sep='-')
    x = int(cat[0])
    y = int(cat[1])
    intscore.append(x)
    intranges.append((x,y))

In [10]:
loansData['FICO.Scoring'] = intscore

In [11]:
loansData.head()

,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,FICO.Scoring
81174,20000,20000.0,8.90,36,debt_consolidation,14.90,SC,MORTGAGE,6541.67,735-739,14.0,14272.0,2.0,< 1 year,735
99592,19200,19200.0,12.12,36,debt_consolidation,28.36,TX,MORTGAGE,4583.33,715-719,12.0,11140.0,1.0,2 years,715
80059,35000,35000.0,21.98,60,debt_consolidation,23.81,CA,MORTGAGE,11500.00,690-694,14.0,21977.0,1.0,2 years,690
15825,10000,9975.0,9.99,36,debt_consolidation,14.30,KS,MORTGAGE,3833.33,695-699,10.0,9346.0,0.0,5 years,695
33182,12000,12000.0,11.71,36,credit_card,18.78,NJ,RENT,3195.00,695-699,11.0,14469.0,0.0,9 years,695

In [12]:
for col in loansData:
    print(loansData[col].value_counts(dropna=False))

10000    206
12000    151
5000     110
20000    107
6000     103
15000     98
8000      90
25000     65
7000      54
16000     53
35000     51
18000     47
3000      45
4000      45
24000     41
9000      38
30000     38
14000     37
4800      28
7200      25
7500      25
2000      24
21000     23
9600      21
4500      19
2500      19
3600      18
13000     17
17000     17
4200      16
        ...
15575      1
25800      1
23750      1
9425       1
27825      1
30100      1
7575       1
15775      1
25475      1
34500      1
23300      1
31500      1
8975       1
3725       1
13075      1
24175      1
11050      1
23400      1
5650       1
1450       1
1550       1
7050       1
7675       1
15250      1
17900      1
13225      1
9700       1
7625       1
15300      1
16350      1
Name: Amount.Requested, dtype: int64
10000.00    164
12000.00    108
5000.00      87
6000.00      85
8000.00      69
15000.00     68
20000.00     59
7000.00      40
4000.00      35
16000.00     35
3000.00      32
35000.00     31
18000.00     30
14000.00     29
25000.00     28
9000.00      27
30000.00     24
2000.00      23
4800.00      22
24000.00     22
7200.00      20
11975.00     19
9600.00      19
4500.00      18
21000.00     17
2500.00      16
3600.00      15
4200.00      14
9975.00      13
19975.00     13
           ...
15865.55      1
11600.00      1
4175.00       1
12875.00      1
3825.00       1
16786.31      1
10525.00      1
16100.00      1
17994.17      1
9875.00       1
25375.00      1
9869.17       1
6165.31       1
14725.00      1
7997.85       1
20875.00      1
23800.00      1
8250.00       1
5905.66       1
20925.00      1
11862.38      1
23450.00      1
15775.00      1
3150.00       1
4985.44       1
10928.83      1
24625.00      1
7325.00       1
13575.00      1
6350.01       1
Name: Amount.Funded.By.Investors, dtype: int64
12.12    122
7.90     119
13.11    115
15.31     76
14.09     72
14.33     69
8.90      64
11.14     58
6.03      57
17.27     56
16.29     51
6.62      49
10.16     48
15.80     39
17.77     38
11.71     36
7.62      34
18.49     33
14.65     29
13.99     29
19.05     26
13.49     25
10.74     24
7.49      23
13.67     23
9.76      21
7.51      21
11.49     21
12.69     21
10.99     20
        ...
13.55      1
16.35      1
10.95      1
10.28      1
13.80      1
15.57      1
12.49      1
20.52      1
16.70      1
7.43       1
21.27      1
10.20      1
20.99      1
11.59      1
16.71      1
9.20       1
12.86      1
11.54      1
16.83      1
15.68      1
20.53      1
17.90      1
17.04      1
17.44      1
15.70      1
16.63      1
17.54      1
19.04      1
24.20      1
11.66      1
Name: Interest.Rate, dtype: int64
36    1952
60     548
Name: Loan.Length, dtype: int64
debt_consolidation    1307
credit_card            444
other                  201
home_improvement       152
major_purchase         101
small_business          87
car                     50
wedding                 39
medical                 30
moving                  29
vacation                21
house                   20
educational             15
renewable_energy         4
Name: Loan.Purpose, dtype: int64
0.00     8
12.54    6
15.88    5
22.74    5
22.32    5
12.20    5
17.00    5
14.66    5
15.60    5
14.22    5
12.85    5
17.95    5
18.75    5
14.88    5
16.15    5
16.73    5
9.67     4
17.79    4
24.85    4
15.74    4
13.42    4
20.07    4
15.82    4
17.97    4
20.96    4
19.10    4
20.18    4
13.30    4
21.54    4
11.18    4
        ..
7.49     1
3.09     1
17.68    1
8.21     1
0.17     1
2.86     1
28.89    1
7.28     1
16.99    1
34.26    1
16.49    1
32.95    1
3.16     1
14.79    1
21.24    1
25.56    1
14.84    1
12.83    1
13.53    1
6.74     1
8.60     1
5.64     1
30.30    1
16.28    1
20.94    1
22.06    1
18.40    1
26.98    1
16.02    1
7.04     1
Name: Debt.To.Income.Ratio, dtype: int64
CA    433
NY    255
TX    174
FL    169
IL    101
GA     98
PA     96
NJ     94
VA     78
MA     73
OH     71
MD     68
NC     64
CO     61
WA     58
CT     50
AZ     46
MI     45
AL     38
MN     38
MO     33
NV     32
OR     30
SC     28
WI     26
KY     23
LA     22
KS     21
OK     21
UT     16
RI     15
NH     15
WV     15
AR     13
NM     13
HI     12
AK     11
DC     11
DE      8
MT      7
VT      5
SD      4
WY      4
IN      3
MS      1
IA      1
Name: State, dtype: int64
MORTGAGE    1148
RENT        1146
OWN          200
OTHER          5
NONE           1
Name: Home.Ownership, dtype: int64
5000.00     107
4166.67      84
3333.33      71
5416.67      70
5833.33      58
3750.00      53
6666.67      52
2500.00      51
4583.33      50
6250.00      46
7500.00      43
7083.33      41
2916.67      40
6000.00      36
3500.00      35
4000.00      34
3000.00      34
4333.33      31
8333.33      29
5166.67      28
4500.00      28
10000.00     27
9166.67      22
2666.67      20
8750.00      20
7916.67      20
5666.67      19
3833.33      19
4416.67      18
3166.67      18
           ...
10700.00      1
6700.00       1
4900.00       1
5925.00       1
5150.00       1
9288.33       1
4375.00       1
7952.00       1
6312.00       1
5520.00       1
4025.67       1
5129.00       1
9220.00       1
9125.00       1
3617.21       1
5988.67       1
2641.67       1
7667.00       1
6691.67       1
3544.67       1
5000.67       1
2427.00       1
16133.33      1
3726.67       1
6074.17       1
6307.42       1
2512.00       1
5883.33       1
5373.33       1
3584.62       1
Name: Monthly.Income, dtype: int64
670-674    171
675-679    166
680-684    157
695-699    153
665-669    145
690-694    140
685-689    138
705-709    134
700-704    131
660-664    125
720-724    114
710-714    112
730-734     94
725-729     94
715-719     93
735-739     65
750-754     61
745-749     54
740-744     53
760-764     46
755-759     46
765-769     36
780-784     28
775-779     22
790-794     20
785-789     19
770-774     17
795-799     13
800-804     13
805-809     11
810-814      8
815-819      6
640-644      5
655-659      4
645-649      3
650-654      1
820-824      1
830-834      1
Name: FICO.Range, dtype: int64
 8.0     262
 9.0     237
 6.0     232
 7.0     216
 11.0    187
 10.0    185
 13.0    158
 12.0    153
 5.0     153
 14.0    138
 4.0     106
 15.0     96
 16.0     66
 3.0      60
 17.0     58
 18.0     51
 19.0     30
 21.0     26
 2.0      24
 20.0     23
 23.0     11
 22.0      8
 24.0      7
 25.0      4
 26.0      3
NaN        2
 34.0      1
 31.0      1
 38.0      1
 36.0      1
Name: Open.CREDIT.Lines, dtype: int64
0.0         39
2174.0       3
15055.0      3
6055.0       3
12588.0      3
7161.0       2
14268.0      2
6969.0       2
20694.0      2
1442.0       2
715.0        2
8379.0       2
16348.0      2
5015.0       2
13883.0      2
10784.0      2
13559.0      2
2476.0       2
2530.0       2
1838.0       2
9059.0       2
6578.0       2
7900.0       2
11626.0      2
17212.0      2
5093.0       2
1073.0       2
11346.0      2
1548.0       2
2639.0       2
            ..
6563.0       1
31152.0      1
7722.0       1
7556.0       1
13667.0      1
114509.0     1
24810.0      1
13583.0      1
13018.0      1
61865.0      1
8111.0       1
9490.0       1
3470.0       1
25090.0      1
3489.0       1
29046.0      1
53494.0      1
46501.0      1
15866.0      1
11105.0      1
10142.0      1
22246.0      1
19539.0      1
8940.0       1
19656.0      1
17250.0      1
11388.0      1
5141.0       1
15092.0      1
14272.0      1
Name: Revolving.CREDIT.Balance, dtype: int64
 0.0    1250
 1.0     657
 2.0     336
 3.0     169
 4.0      50
 5.0      14
 6.0       8
 7.0       7
 9.0       5
 8.0       2
NaN        2
Name: Inquiries.in.the.Last.6.Months, dtype: int64
10+ years    653
< 1 year     250
2 years      244
3 years      235
5 years      202
4 years      192
1 year       177
6 years      163
7 years      127
8 years      108
n/a           77
9 years       72
Name: Employment.Length, dtype: int64
670    171
675    166
680    157
695    153
665    145
690    140
685    138
705    134
700    131
660    125
720    114
710    112
725     94
730     94
715     93
735     65
750     61
745     54
740     53
755     46
760     46
765     36
780     28
775     22
790     20
785     19
770     17
800     13
795     13
805     11
810      8
815      6
640      5
655      4
645      3
830      1
650      1
820      1
Name: FICO.Scoring, dtype: int64

### Removing Outliers

In [13]:
FICO_IQR = stats.iqr(x=loansData['FICO.Scoring'], nan_policy='omit')

In [14]:
fico_med = statistics.median(loansData['FICO.Scoring'])

In [15]:
# scrapped my code and wrote some fxn

def is_outlier(x):
    outliers = []
    iqr = stats.iqr(x=x, nan_policy='omit')
    median = statistics.median(x)
    for val in x:
        if val > (median + 1.5 * iqr) or val < (median - 1.5 * iqr):
            outliers.append(float(1))
        else:
            outliers.append(float(0))
    return outliers

In [16]:
outliers = is_outlier(loansData['FICO.Scoring'])
print(len(outliers))

# looking for 2500 observations

2500

For some reason, if `outliers` is converted to a series before being put into the df, there are issues with NaN values popping up:
```python
>>> outliers = pd.Series(outliers)
>>> outliers.value_counts(dropna=False)
0.0    2341
1.0     159
dtype: int64
```
but it is fine to insert a list...

[~~***May*** have to do with index~~](http://stackoverflow.com/questions/12555323/adding-new-column-to-existing-dataframe-in-python-pandas)

**Definitely** was an index issue--series didn't have an index

In [17]:
outliers = is_outlier(loansData['FICO.Scoring'])

In [18]:
loansData['outlier'] = pd.Series(outliers, index=loansData.index)
# this fixed the above issue--it

In [19]:
print(loansData['outlier'].value_counts(dropna=False))
df = loansData[loansData['outlier']==False]

0.0    2341
1.0     159
Name: outlier, dtype: int64

In [20]:

df.describe()

,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Debt.To.Income.Ratio,Monthly.Income,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,FICO.Scoring,outlier
count,2341.000000,2341.000000,2341.00000,2341.000000,2341.000000,2341.000000,2340.000000,2340.000000,2340.000000,2341.000000,2341.0
mean,12358.532678,11957.903755,13.42232,41.269543,15.710397,5585.047151,10.137607,15426.582906,0.916239,700.305425,0.0
std,7745.936698,7691.109984,4.04889,9.936958,7.415687,3421.286996,4.530156,17971.933138,1.237435,28.434635,0.0
min,1000.000000,-0.010000,5.42000,36.000000,0.000000,588.500000,2.000000,0.000000,0.000000,640.000000,0.0
25%,6000.000000,6000.000000,10.65000,36.000000,10.290000,3458.330000,7.000000,5990.750000,0.000000,675.000000,0.0
50%,10000.000000,10000.000000,13.11000,36.000000,15.640000,5000.000000,9.000000,11175.500000,1.000000,695.000000,0.0
75%,17000.000000,16000.000000,15.96000,36.000000,20.910000,6666.670000,13.000000,19148.000000,1.000000,720.000000,0.0
max,35000.000000,35000.000000,24.89000,60.000000,34.910000,65000.000000,38.000000,270800.000000,9.000000,765.000000,0.0

### Removing NaN's

The column "Employment.Length" has several values as "n/a"

Below is a formatted count.
- [formatting strings](https://docs.python.org/3/library/string.html#formatspec)
- [formatting mini-language](https://docs.python.org/3/library/string.html#formatspec)

In [21]:
col_has_nan = []

for col in loansData:
    if loansData[col].isnull().sum() > 0:
        col_has_nan.append(col)
        print('{:<30}'.format(col), '  NaN values:', loansData[col].isnull().sum())

Monthly.Income                   NaN values: 1
Open.CREDIT.Lines                NaN values: 2
Revolving.CREDIT.Balance         NaN values: 2
Inquiries.in.the.Last.6.Months   NaN values: 2

In [22]:
print(col_has_nan)

['Monthly.Income', 'Open.CREDIT.Lines', 'Revolving.CREDIT.Balance', 'Inquiries.in.the.Last.6.Months']

Iterating over rows to capture all instances of NaN values; if any col has a nan val, the row will be removed  
[docs](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.itertuples.html#pandas.DataFrame.itertuples)

example:
```python
>>> df_short = df[:3]
>>> type(df_short)
>>> df_short
>>> for row in df_short.itertuples():
...    # print(row)
...    if 0.0 in row:
...        print('out')
out
out
out
```

In [24]:
has_nan = []
nan_df = df.loc[:, col_has_nan]
for row in range(len(nan_df)):
    if nan_df.iloc[row].isnull().sum() > 0:
        has_nan.append(1)
    else:
        has_nan.append(0)

In [25]:
nan_df.iloc[3].isnull().sum()

0

In [26]:
has_nan = pd.Series(has_nan, index=df.index)

In [27]:
df2 = df[has_nan==0]

In [28]:
len(df2)

2340

In [29]:
for col in df2:
#     if df2[col].isnull().sum() > 0:
#         col_has_nan.append(col)
        print('{:<30}'.format(col), '  NaN values:', df2[col].isnull().sum())

Amount.Requested                 NaN values: 0
Amount.Funded.By.Investors       NaN values: 0
Interest.Rate                    NaN values: 0
Loan.Length                      NaN values: 0
Loan.Purpose                     NaN values: 0
Debt.To.Income.Ratio             NaN values: 0
State                            NaN values: 0
Home.Ownership                   NaN values: 0
Monthly.Income                   NaN values: 0
FICO.Range                       NaN values: 0
Open.CREDIT.Lines                NaN values: 0
Revolving.CREDIT.Balance         NaN values: 0
Inquiries.in.the.Last.6.Months   NaN values: 0
Employment.Length                NaN values: 0
FICO.Scoring                     NaN values: 0
outlier                          NaN values: 0